@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #131313;
  line-height: 1;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 1.125rem;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.9375rem 0;
  -webkit-animation: headerShow 1s linear;
          animation: headerShow 1s linear;
  z-index: 2;
  background-color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  padding: 1.5625rem 0.9375rem;
  background-color: #131313;
  color: #fff;
  border-radius: 0.9375rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__logo span {
  background-color: #fff;
  color: #131313;
  text-align: center;
  font-weight: 700;
  margin-left: 0.125rem;
}
@media (any-hover: hover) {
  .header__logo:hover {
    background-color: #333;
  }
}
.header__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1.5625rem 0.9375rem;
  border-radius: 0.9375rem;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: #fff;
    background-color: rgb(90, 125, 188);
  }
}
@media (max-width: 28.125em) {
  .header__link {
    background-color: rgb(90, 125, 188);
    color: #fff;
  }
}
@media (max-width: 28.125em) and (any-hover: hover) {
  .header__link:hover {
    color: #fff;
    background-color: rgb(90, 125, 188);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
              column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.menu__item {
  position: relative;
}
.menu__item::before {
  content: "";
  position: absolute;
  width: calc(100% - 1.25rem);
  height: 3px;
  bottom: -0.625rem;
  left: 0.625rem;
  visibility: hidden;
  background-color: #131313;
}
@media (any-hover: hover) {
  .menu__item:hover::before {
    visibility: visible;
  }
}
.menu__icon {
  display: none;
}

@media (min-width: 651px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 650px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #131313;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 234, 234, 0.941);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 34px;
    font-weight: 700;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}
.who {
  margin-top: 5rem;
}
@media (min-width: 75em) {
  .who {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .who {
      padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .who {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .who {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75em) {
  .who {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .who {
      padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .who {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .who {
    padding-bottom: 1.875rem;
  }
}
.who__column {
  position: relative;
}
.who__column::before {
  content: "";
  position: absolute;
  width: 28.75rem;
  height: 31.25rem;
  top: 0;
  right: 0.6875rem;
  border-radius: 0 50px;
  z-index: -1;
  background: url("../img/main-image.jpg") center/cover no-repeat;
}
@media (max-width: 74.375em) {
  .who__column::before {
    display: none;
  }
}
.who__title {
  margin-top: 0.625rem;
  font-size: 10.625rem;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
@media (min-width: 75em) {
  .who__title {
    font-size: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 3.125rem , 0.3977272727rem  +  13.6363636364vw , 10.625rem )) {
    .who__title {
      font-size: clamp( 3.125rem , 0.3977272727rem  +  13.6363636364vw , 10.625rem );
    }
  }
  @supports not (font-size: clamp( 3.125rem , 0.3977272727rem  +  13.6363636364vw , 10.625rem )) {
    .who__title {
      font-size: calc(3.125rem + 7.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .who__title {
    font-size: 3.125rem;
  }
}
.who__title p:first-child {
  background: linear-gradient(269deg, #f43366 0.72%, #3c33ef 103.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f43366;
}
.who__title span {
  color: #fff;
}
@media (max-width: 74.375em) {
  .who__title span {
    color: #131313;
  }
}
.who__sub-title {
  color: #666;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 0.9375rem;
}
@media (min-width: 75em) {
  .who__sub-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .who__sub-title {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .who__sub-title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .who__sub-title {
    font-size: 1.125rem;
  }
}
.who__git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.who__git img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 1.875rem;
  height: 1.875rem;
}
.who__git span {
  color: rgb(255, 191, 0);
}

@media (min-width: 75em) {
  .skills {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .skills {
      padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .skills {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .skills {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .skills {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .skills {
      padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .skills {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .skills {
    padding-bottom: 1.25rem;
  }
}
.skills__title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5625rem;
}
@media (min-width: 75em) {
  .skills__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .skills__title {
      font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .skills__title {
      font-size: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .skills__title {
    font-size: 1.25rem;
  }
}
.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.5625rem;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills__image-ibg {
  width: 12.5rem;
  padding-bottom: 12.5rem;
}
.skills__image-ibg img {
  max-width: 100%;
}

.skills-range {
  background-color: #333;
  padding: 2.1875rem 0;
}
.skills-range__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.5625rem;
}
.skills-range__column:nth-child(1) .skills-range__line::before {
  content: "";
  width: 98%;
}
.skills-range__column:nth-child(2) .skills-range__line::before {
  content: "";
  width: 90%;
}
.skills-range__column:nth-child(3) .skills-range__line::before {
  content: "";
  width: 18%;
}
.skills-range__column:nth-child(4) .skills-range__line::before {
  content: "";
  width: 25%;
}
.skills-range__column:nth-child(5) .skills-range__line::before {
  content: "";
  width: 14%;
}
.skills-range__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.9375rem;
  color: #fff;
}
.skills-range__line {
  width: 100%;
  height: 1.875rem;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 0.3125rem 0.9375rem;
  position: relative;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  z-index: 1;
}
.skills-range__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(269deg, #f43366 0.72%, #3c33ef 103.58%);
  border-radius: 1.25rem;
}

.chill {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 65em) and (min-width: 75em) {
  .chill__title {
    margin-bottom: 6.875rem;
  }
}
@media (max-width: 65em) and (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem )) {
    .chill__title {
      margin-bottom: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem )) {
    .chill__title {
      margin-bottom: calc(3.125rem + 3.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 65em) and (max-width: 20em) {
  .chill__title {
    margin-bottom: 3.125rem;
  }
}
.chill__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.chill__column:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 65.0625em) {
  .chill__column:nth-child(2), .chill__column:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 65em) {
  .chill__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.chill__text {
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 600;
}
@media (min-width: 75em) {
  .chill__text {
    font-size: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .chill__text {
      font-size: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .chill__text {
      font-size: calc(1.5625rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .chill__text {
    font-size: 1.5625rem;
  }
}
@media (min-width: 75em) {
  .chill__text {
    line-height: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (line-height: clamp( 2rem , 1.5909090909rem  +  2.0454545455vw , 3.125rem )) {
    .chill__text {
      line-height: clamp( 2rem , 1.5909090909rem  +  2.0454545455vw , 3.125rem );
    }
  }
  @supports not (line-height: clamp( 2rem , 1.5909090909rem  +  2.0454545455vw , 3.125rem )) {
    .chill__text {
      line-height: calc(2rem + 1.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .chill__text {
    line-height: 2rem;
  }
}
@media (max-width: 65em) {
  .chill__text {
    margin-bottom: 1.5625rem;
    text-align: center;
  }
}
.chill__image-ibg {
  width: 25rem;
  padding-bottom: 25rem;
}
.chill__image-ibg img {
  border-radius: 1.25rem;
}
@media (min-width: 75em) {
  .chill__video {
    width: 31.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (width: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem )) {
    .chill__video {
      width: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem );
    }
  }
  @supports not (width: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem )) {
    .chill__video {
      width: calc(20rem + 11.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .chill__video {
    width: 20rem;
  }
}
@media (min-width: 75em) {
  .chill__video {
    height: 31.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (height: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem )) {
    .chill__video {
      height: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem );
    }
  }
  @supports not (height: clamp( 20rem , 15.9090909091rem  +  20.4545454545vw , 31.25rem )) {
    .chill__video {
      height: calc(20rem + 11.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .chill__video {
    height: 20rem;
  }
}

.footer {
  background-color: #131313;
  padding: 5.625rem 0;
}
.footer__logo {
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
@media (min-width: 75em) {
  .footer__logo {
    font-size: 5.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem )) {
    .footer__logo {
      font-size: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem );
    }
  }
  @supports not (font-size: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem )) {
    .footer__logo {
      font-size: calc(2.8125rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .footer__logo {
    font-size: 2.8125rem;
  }
}
.footer__logo span {
  background-color: #fff;
  color: #131313;
}

.works {
  background-color: #cdbebe;
  padding: 3.125rem 0;
  margin: 0 auto;
}
.works__title {
  text-align: center;
  margin-bottom: 2.8125rem;
}
@media (min-width: 75em) {
  .works__title {
    font-size: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.5625rem , 0.8806818182rem  +  3.4090909091vw , 3.4375rem )) {
    .works__title {
      font-size: clamp( 1.5625rem , 0.8806818182rem  +  3.4090909091vw , 3.4375rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 0.8806818182rem  +  3.4090909091vw , 3.4375rem )) {
    .works__title {
      font-size: calc(1.5625rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .works__title {
    font-size: 1.5625rem;
  }
}
.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2.1875rem;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  height: 100%;
}
.works__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
  text-align: center;
}
.works__image-ibg {
  margin: 0 auto 1.5625rem auto;
}
@media (min-width: 75em) {
  .works__image-ibg {
    width: 31.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (width: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem )) {
    .works__image-ibg {
      width: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem );
    }
  }
  @supports not (width: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem )) {
    .works__image-ibg {
      width: calc(15.625rem + 15.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .works__image-ibg {
    width: 15.625rem;
  }
}
@media (min-width: 75em) {
  .works__image-ibg {
    padding-bottom: 31.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem )) {
    .works__image-ibg {
      padding-bottom: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 15.625rem , 9.9431818182rem  +  28.4090909091vw , 31.25rem )) {
    .works__image-ibg {
      padding-bottom: calc(15.625rem + 15.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .works__image-ibg {
    padding-bottom: 15.625rem;
  }
}
.works__image-ibg img {
  max-width: 100%;
  border-radius: 1.125rem;
}
.works__sub-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}
.works__link {
  color: #333;
  text-decoration: underline;
}